.button {
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #f00303;
}