.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg/bg2.png) center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }
    .error {
        border: 1px solid $main-color;
    }
    label.error {
        color: rgb(255, 255, 255);
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}