.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
            text-align: center;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
